@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "space mono", sans-serif;
}
:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}
body {
  background-color: var(--light-grayish-cyan);
}
section{
  width: 70%;
  margin: 10% auto;
  text-align: center;
}
.section-container {
  width: 100%;
  background: var(--white);
  padding: 1.5rem;
  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.left,.right {
  width: 50%;
  text-align: left;
}
.bill{
  margin-bottom: 2rem;
}
.bill-container{
  display: flex;
  justify-content: space-between;
  align-items: center ;
}
.bill-container > p:firstchild{
  color: var(--very-dark-cyan);
  font-weight: 900;
}
.error{
  color: crimson;
  font-weight: 600;
}
input {
  width: 100%;
  padding: 0.5rem;
  font-size: 24px;
  background: var(--very-light-grayish-cyan);
  outline: none;
  border: none;
  border-radius: 0.3rem;
  margin: 0.5rem 0;
  color: var(--grayish-cyan);
  text-align: end;
  font-weight: 900;
}
input::placeholder{
  /* text-align: end; */
  color: var(--grayish-cyan);
}
input:hover, input:focus{
  cursor: pointer;
  border: 1px solid var(--very-dark-cyan)
}input.invalid{
  border: 2px solid crimson;
}
.icon-image {
  margin-top: -2.5rem;
  margin-left: 1rem;
}
.select-tip >p {
  color: var(--strong-cyan);
  font-weight: 900;
}
.select-btn {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.select-btn >button {
  width: 30%;
  padding: 0.7rem 1rem;
  background: var(--very-dark-cyan);
  color: var(--white);
  font-weight: 900;
  cursor: pointer;
  outline: none;
  border-radius: 0.5rem;
  border: none;
}
.select-btn > button:hover{
  background: var(--strong-cyan);
  color: var;

}
.select-btn >input {
  width: 30%;
  padding: 0.7rem 1rem;
  height: fit-content;
  margin-top: 0;
  font-size: 1rem;
}
.select-btn >button:nth-child(4) {
  height: fit-content;
}
.select-btn >button:nth-child(5) {
  height: fit-content;
}
.right {
  background: var(--very-dark-cyan);
  border-radius: 1rem;
  padding: 3rem 2rem;
}
.tip-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tip-title >p {
  color: var(--white);
  font-size: 1.5rem;
}
.tip-title >h1 {
  color: var(--strong-cyan);
}
.tip-title >span  {
  color: var(--grayish-cyan);
}
.tip-amount {
  font-size: 2rem;
  color: var(--strong-cyan);
  font-weight: 700;
  margin
}
.btn{
  margin-top: 30%;
}
button {
  width: 100%;
  background: var(--dark-grayish-cyan);
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
}
.reset:hover {
  font-weight: bold;
  color: var(--very-dark-cyan);
  background: var(--strong-cyan) ;
  cursor: pointer;
}